{% extends 'base.html.twig' %}


{% block body %}



  {% block Navigation %}

  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">DIASPO GRANT</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/entreprises" > Liste Entreprises </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/connexion"> Connexion Entreprise</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/inscription"> Inscription Entreprise</a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>

{% endblock %}        


{% block Content %}

<div class="container">


      <h1 class="mt-4 mb-3">Connexion
      <small>d'une entreprise à la plateforme</small>
    </h1>


    <div class="row">
      <div class="col-lg-8 mb-4">
        
        <form name="sentMessage" id="contactForm" novalidate>

          <div class="control-group form-group">
            <div class="controls">
              <label> Username :</label>
              <input type="text" class="form-control required" id="Username" >
              <p class="help-block"></p>
            </div>
          </div>

          <div class="control-group form-group">
            <div class="controls">
              <label> Mot de passe :</label>
              <input type="password" class="form-control required" id="mdp" >
            </div>
          </div>

          
          <button type="submit" class="btn btn-primary" >Se connecter</button>
        </form>
      </div>

    </div>



        

    


  </div>

{% endblock %}

{% block Footer %}
<footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; App Diaspogrant 2020</p>
    </div>
  </footer>
{% endblock %}


{% endblock %}
    
